<section class="home">
  <img src="../../assets/back.jpg" />

  <div class="homecontent">
    <h1>Im Looking For...</h1>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      &nbsp;
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!-- <button
      type="button"
      class="reg btn-primary"
      (click)="openRegistrationFormDialog()"
    >
      Register
    </button> -->
  </div>
</section>
